* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 606px;
  width: 606px;
}

.breakout-grid {
  border: solid black 1px;
  height: 300px;
  margin-top: 80px;
  position: absolute;
  width: 560px;
}

.mole {
  background-image: url('images/mole.png');
  background-size: cover;
}

.square {
  border: solid black 1px;
  height: 200px;
  width: 200px;
}

.block {
  background-color: blue;
  height: 20px;
  position: absolute;
  width: 100px;
}

.user {
  background-color: purple;
  height: 20px;
  position: absolute;
  width: 100px;
}

.ball {
  background-color: red;
  border-radius: 10px;
  height: 20px;
  position: absolute;
  width: 20px;  
}

#grid {
  width: 400px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100px;
  height: 100px;
}

/* frogger */
.frogger-grid {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 180px;
  width: 180px;
}

.frogger-grid div {
  height: 20px;
  width: 20px;
}

.ending-block {
  background-color: red;
}

.starting-block {
  background-color: blue;
}

.l1, .l2, .l3 {
  background-color: brown;
}

.l4, .l5 {
  background-color: lightblue;
}

.c1 {
  background-color: black;
}

.c2, .c3 {
  background-color: lightgrey;
}

/*It's important to place frog's style after the squares style. Otherwise the background color won't change.*/
.frog {
  background-color: green;
}